import /vendor/etc/init/hw/init.${ro.hardware}.usb.rc

on zygote-start

    mkdir /data/vendor/nfc 0770 nfc nfc
    mkdir /data/vendor/nfc/param 0770 nfc nfc
    setprop ro.nfc.port "I2C"

on init

    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/camera-daemon/mems 0
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

    # Create UDS structure for base VR services.
    mkdir /dev/socket/pdx 0775 system system
    mkdir /dev/socket/pdx/system 0775 system system
    mkdir /dev/socket/pdx/system/buffer_hub 0775 system system
    mkdir /dev/socket/pdx/system/performance 0775 system system
    mkdir /dev/socket/pdx/system/vr 0775 system system
    mkdir /dev/socket/pdx/system/vr/display 0775 system system
    mkdir /dev/socket/pdx/system/vr/pose 0775 system system
    mkdir /dev/socket/pdx/system/vr/sensors 0775 system system

    chown root system /sys/class/backlight/intel_backlight/brightness
    chmod 0664 /sys/class/backlight/intel_backlight/brightness
    chown root system /sys/class/backlight/intel_backlight/max_brightness
    chmod 0664 /sys/class/backlight/intel_backlight/max_brightness

    chown bluetooth root /sys/class/rfkill/rfkill3/state

# Sensors
    chown root system /sys/bus/iio/devices/iio:device0/buffer/enable
    chown root system /sys/bus/iio/devices/iio:device0/buffer/length
    chown root system /sys/bus/iio/devices/iio:device0/trigger/current_trigger
    chown root system /sys/bus/iio/devices/iio:device0/in_accel_sampling_frequency
    chmod 0660 /sys/bus/iio/devices/iio:device0/buffer/enable
    chmod 0660 /sys/bus/iio/devices/iio:device0/buffer/length
    chmod 0660 /sys/bus/iio/devices/iio:device0/trigger/current_trigger
    chmod 0660 /sys/bus/iio/devices/iio:device0/in_accel_sampling_frequency
    
    chown root system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_x_en
    chown root system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_y_en
    chown root system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_z_en
    chmod 0660 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_x_en
    chmod 0660 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_y_en
    chmod 0660 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_z_en

    chown root system /sys/bus/iio/devices/iio:device1/buffer/enable
    chown root system /sys/bus/iio/devices/iio:device1/buffer/length
    chown root system /sys/bus/iio/devices/iio:device1/trigger/current_trigger
    chown root system /sys/bus/iio/devices/iio:device1/in_anglvel_sampling_frequency
    chmod 0660 /sys/bus/iio/devices/iio:device1/buffer/enable
    chmod 0660 /sys/bus/iio/devices/iio:device1/buffer/length
    chmod 0660 /sys/bus/iio/devices/iio:device1/trigger/current_trigger
    chmod 0660 /sys/bus/iio/devices/iio:device1/in_anglvel_sampling_frequency

    chown root system /sys/bus/iio/devices/iio:device1/scan_elements/in_anglvel_x_en
    chown root system /sys/bus/iio/devices/iio:device1/scan_elements/in_anglvel_y_en
    chown root system /sys/bus/iio/devices/iio:device1/scan_elements/in_anglvel_z_en
    chmod 0660 /sys/bus/iio/devices/iio:device1/scan_elements/in_anglvel_x_en
    chmod 0660 /sys/bus/iio/devices/iio:device1/scan_elements/in_anglvel_y_en
    chmod 0660 /sys/bus/iio/devices/iio:device1/scan_elements/in_anglvel_z_en

on fs
    mount_all /vendor/etc/fstab.thinkpad --early

on late-fs
    mount_all /vendor/etc/fstab.thinkpad --late

on post-fs
    setprop ro.vendor.iio.accel.x.opt_scale -1
    setprop ro.vendor.iio.accel.y.opt_scale -1

on boot

    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

    start hostapd
    start wpa_supplicant

    setprop wifi.interface wlan0
    
    
    setprop vendor.dalvik.vm.isa.x86.variant kabylake
    setprop vendor.dalvik.vm.isa.x86_64.variant kabylake
