allow surfaceflinger surfaceflinger_tmpfs:file { map };
allow surfaceflinger tmpfs:lnk_file { read };
allow surfaceflinger self:capability { sys_tty_config };
